<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=DESKTOP-I3V4IN9\SQL2K16;Initial Catalog=DapperExample;Trusted_Connection=No;User=sa;Password=sa_pwd@1234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>